<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Product Details</title>
  <style>
    body{font-family:Arial;margin:20px}
    .box{border:1px solid #ddd;padding:15px;width:400px}
    p{margin:6px 0}
  </style>
</head>
<body>

<h2>Product Details</h2>

<div class="box">
  <p><b>ID:</b> <span th:text="${p.id}"></span></p>
  <p><b>Name:</b> <span th:text="${p.name}"></span></p>
  <p><b>Price:</b> <span th:text="${p.price}"></span></p>
  <p><b>Stock:</b> <span th:text="${p.stock}"></span></p>
</div>

<br>
<a th:href="@{/products}">Back</a> |
<a th:href="@{/products/{id}/edit(id=${p.id})}">Edit</a> |
<a th:href="@{/products/{id}/stock(id=${p.id})}">Update Stock</a>

</body>
</html>
